@using Ideascape.Data.Entities
@using Ideascape.Infrastructure
@model Idea
@{
    var rnd = (Random)ViewBag.Random;

}
<div class="@ViewBag.IdeaClasStyle" style="margin: .5em; padding: .5em;  background-color: #060606;">
    <div class="pull-right">
        <span class="label @Model.Stage.ToBootstrapLabelClass()">@((int)Model.Stage + 1). @Model.Stage</span>
        @if (Model.Stage == Idea.IdeaStage.Inception)
        {
            <i class="icon-lock" title="Private" style="color: crimson"></i>
        }
        else
        {
            <i class="icon-unlock" title="Public"></i>
        }
    </div>
    <h4>
        <span style="font-weight: bold; font-style: italic; color: tomato;">+@(rnd.Next(6, 1622).ToString("N0"))
        </span>
        &nbsp;&nbsp;
        @Model.Name
    </h4>

    <div class="row-fluid" style="background-color: #0d0d0d; border-radius: 7px;">
        <div class="span1" style="margin-left: .5em; background-color: #0d0d0d">
            <i class="icon-question-sign" style="background-color: #0d0d0d"></i>
        </div>
        <div style="margin-left: 0; background-color: #0d0d0d" class="span11">
            <p>@Model.Premise</p>
        </div>
    </div>

    <div class="row-fluid" style="background-color: #0d0d0d; border-radius: 7px; margin-top: .5em; margin-bottom: .5em;">
        <div class="span1" style="margin-left: .5em; background-color: #0d0d0d">
            <i class="icon-lightbulb" style="background-color: #0d0d0d"></i>
        </div>
        <div style="margin-left: 0; background-color: #0d0d0d" class="span11">
            <p>@Model.Solution</p>
        </div>
    </div>

    <div class="pull-right">
        <div class="btn-group">
            <button class="btn" style="font-weight: bold; font-style: italic;">+1</button>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Comment...</a></li>
                <li><a href="#">Refer to colleague...</a></li>
                <li><a href="#">Hashtag</a></li>
                <li class="divider"></li>
                <li><a href="#">Edit / Remove</a></li>
            </ul>
        </div>
    </div>

    <div style="vertical-align: middle;">
        @foreach (var tag in Model.Tags)
        {
            @Html.ActionLink(tag, "Trending", "Home", new { tag }, new{@class="label"})
            <text>&nbsp;</text>
        }
    </div>
</div>