@model Ideascape.Models.NewIdeaSubmission
@{
    ViewBag.Title = "New Idea";
}

<h4>Submit a new idea</h4>

@using (Html.BeginForm())
{
    <div class="control-group">
        @Html.LabelFor(m => m.Name, new { Class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.Name)
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(m => m.Premise, new { Class = "control-label" })
        <div class="controls">
            @Html.TextAreaFor(m => m.Premise)
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(m => m.Solution, new { Class = "control-label" })
        <div class="controls">
            @Html.TextAreaFor(m => m.Solution)
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(m => m.Tags, new { Class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.Tags)
        </div>
    </div>
    
    <div class="form-actions">
        <button type="submit" class="btn btn-info">Save changes</button>
        <button type="button" class="btn">Cancel</button>
    </div>
}